@import "variables";

*,html{
	margin: 0;
	padding: 0;
}
body{
	font-family: "SunAntwerpen", Arial, sans-serif;
	font-size: 1em;
	color: $font-color;
}
h1, h2, h3, h4, h5, h6{
	font-family: "Antwerpen", Arial, sans-serif;
}
p, small{
	font-family: "SunAntwerpen", Arial, sans-serif;
}
h1{font-size: 4em;color: $font-color-white;}
h2{font-size: 2.488em;}
h3{font-size: 2.074em;}
h4{font-size: 1.728em;}
h5{font-size: 1.44em;}
h6{font-size: 1.2em;}
p{font-size: 1em;}
small{font-size: 0.833em;}

header{
	&.nieuws{
		background-image: url("/img/Grote_Markt_Antwerpen.jpg");
	}
	&.artikel{
		background-image: url("/img/Grote_Markt_Antwerpen.jpg");
	}
	&.scholen{
		background-image: url("/img/Grote_Markt_Antwerpen.jpg");
	}
	&.vrijetijd{
		background-image: url("/img/Grote_Markt_Antwerpen.jpg");
	}
	&.omgeving{
		background-image: url("/img/Grote_Markt_Antwerpen.jpg");
	}
	&.testimonials{
		background-image: url("/img/Grote_Markt_Antwerpen.jpg");
	}
	position: relative;
	height: $header-height;
	overflow: hidden;
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&>a{
		position: absolute;
		right: 0;
		color: white;
		background: $primary-blue;
		padding: 7px 15px;
		text-decoration: none;
	}
	nav{
		position: absolute;
		width: 100%;
		display: flex;
		margin: 30px 0;
		background: white;
		img{
			height: 5rem;
		}
		ul{
			display: flex;
			flex: 1;
			list-style: none;
			justify-content: space-around;
			li{
				display: flex;
				flex:1;
				a{
					font-family: "Antwerpen", Arial, sans-serif;
					font-size: 1.44em;
					color: $primary-blue;
					width: 100%;
					padding: 1.5rem 0;
					text-decoration: none;
					text-align: center;
					white-space: nowrap;
					position: relative;
					svg{
						display: block;
						position: absolute;
						bottom: 0;
						width: 100%;
					}
				}
			}
		}
	}
}
main{
	display: block;
	background: white;
	padding: 40px;
	h1{
		position: absolute;
		top: $header-height - 64px;
		text-shadow: 0 -3px 10px darken($font-color-light,20%);
	}
	article{
		display: flex;
		flex-wrap: wrap;
		a{
			width: 29%;
			padding: 2%;
			display: block;
			text-decoration: none;
			color: $font-color;
			img{
				width: 100%;
				height: 100%;
			}
		}
		&>img{
			width: 40%;
			height: 100%;
			padding-right: 20px;
		}
	}
}