@import "variables";

*,html{
	margin: 0;
	padding: 0;
}
body{
	font-family: "SunAntwerpen", Arial, sans-serif;
	font-size: 1em;
	color: $font-color;
}
h1, h2, h3, h4, h5, h6{
	font-family: "Antwerpen", Arial, sans-serif;
}
p, small{
	font-family: "SunAntwerpen", Arial, sans-serif;
}
h1{font-size: 4em;color: $font-color-white;}
h2{font-size: 2.488em;}
h3{font-size: 2.074em;}
h4{font-size: 1.728em;}
h5{font-size: 1.44em;}
h6{font-size: 1.2em;}
p{font-size: 1em;}
small,time{font-size: 0.833em;}

.accent{
	position: relative;
	svg{
		display: none;
		position: absolute;
		width: 15%;
		top: 0;
		left: 0;
	}
}

header{
	position: relative;
	height: 400px;
	overflow: hidden;
	display: block;
	background: lighten($primary-blue,30%);
	&>a{
		position: absolute;
		right: 0;
		color: white;
		background: $primary-blue;
		padding: 7px 15px;
		text-decoration: none;
	}
	nav{
		position: absolute;
		width: 100%;
		display: flex;
		margin: 30px 0;
		background: white;
		&>a{
			background: #1F97D4;
		}
		a{
			display: block;
			img{
				height: 5rem;
				display: block;
			}
		}
		&.zoek ul li{
			flex: 1;
		}
		ul{
			display: flex;
			flex: 1;
			flex-wrap: wrap;
			list-style: none;
			justify-content: space-around;
			position: relative;
			li:first-child a p{
				padding-left: 20px;
			}
			li{
				display: flex;
				a{
					position: relative;
					text-decoration: none;
					color: $primary-blue;
					width: 100%;
					padding:0 10px 0 0;
					p{
						font-family: "Antwerpen", Arial, sans-serif;
						font-size: 1.44em;
						text-align: center;
						padding: $general-padding 0 $general-padding 10px;
						white-space: nowrap;
					}
					svg{
						display: block;
						position: absolute;
						bottom: 0;
						width: 100%;
						background: #1F97D3;
						&:first-child{
							padding: $general-padding+.2rem 0;
							background: none;
							position: static;
							max-height: 100%;
							max-width: 100%;
						}
					}
					&:hover{
						opacity: .6;
					}
				}
				form{
					width: 100%;
					display: flex;
					input[type=text]{
						width: 90%;
						width: calc(100% - ( 100px + 3rem ) );
						font-size: 1em;
						margin: $general-padding 0 $general-padding 20px;
						padding: 5px 7px;
					}
					input[type=image]{
						display: block;
						padding: $general-padding+.2rem $general-padding $general-padding;
						margin: 0 auto;
					}
				}
			}
		}
	}
	&>img{
		width: 100%;
		min-height: 100%;
	}
	h1{
		position: absolute;
		bottom: 0;
		left: 0;
		text-shadow: 0 0 10px darken($font-color-light,20%);
		padding: 0 calc(40px + 2%) 10px;
	}
}
main{
	display: block;
	background: white;
	padding: 40px;
	&.nieuws{
		display: flex;
		flex-wrap: wrap;
		article{
			width: (100%/$desktop-list)-4%;
			padding: 2%;
			a{
				position: relative;
				display: block;
				text-decoration: none;
				color: $font-color;
				background: $bg-color;
				border: 1px solid white;
				&:hover{
					background: url("/img/hover_gray.png") repeat;
					background-size: contain;
					border: 1px solid $border-color;
				}
				img{
					width: 100%;
					height: 100%;
					text-align: center;
				}
				h5, time, p{
					padding: 10px $general-padding 10px;
				}
				h5{
					padding-top: $general-padding;
				}
				time{
					font-weight: bold;
					display: block;
				}
				p{
					padding-bottom: $general-padding;
				}
			}
		}
	}
	&.scholen{
		display: flex;
		flex-wrap: wrap;
		figure{
			width: (100%/$desktop-list)-4%;
			padding: 2%;
			a{
				position: relative;
				display: block;
				text-decoration: none;
				color: $font-color;
				border: 1px solid white;
				&:hover{
					div{
						background: url("/img/hover_gray.png") repeat;
						background-size: contain;
						border: 1px solid $border-color;
						padding: calc(1rem - 1px);
					}
				}
				div{
					width: calc(100% - 2rem);
					height: 15vh;
					padding: $small-padding;
					background: $bg-color;
					display: flex;
					img{
						display: block;
						max-width: 100%;
						max-height: 100%;
						margin: auto;
					}
				}
				figcaption{
					text-align: center;
					padding: $small-padding/2 0;
				}
			}
		}
	}
	&.school{

	}
	&.opleiding{

	}
	&.gids{
		display: flex;
		filter{
			border-right: 1px solid $border-color;
			display: block;
			padding:0 2%;
			form{
				h5{
					display: block;
					padding-bottom: 5px;
				}
				label{
					display: block;
					padding: 5px 0;
					input{
						margin-right: 5px;
					}
				}
			}
		}
		ul{
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			li{
				width: (100%/$desktop-list)-4%;
				padding: 2%;
				a{
					position: relative;
					display: block;
					color: $font-color;
					background: $bg-color;
					text-decoration: none;
					padding: $general-padding;
					border: 1px solid white;
					&:hover{
						background: url("/img/hover_gray.png") repeat;
						background-size: contain;
						border: 1px solid $border-color;
					}
				}

			}
		}
	}
	&.algemeen{
		padding: 0;
		background:url("/img/hover%20dark%20gray.png") repeat;
		background-size: 50%;
		h2{
			text-align: center;
			padding-bottom: 2%;
		}
		img{
			max-width: 100%;
		}
		&>section{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			position: relative;
			h2{
				padding: 2%;
				position: absolute;
				width: 100%;
			}
			img[role=presentation]{
				display: block;
				position: absolute;
				bottom: 0;
				height: 5vh;
				max-width: 50%;
			}
			&:nth-child(2){
				h2{
					padding-top: 4%;
				}
				a{
					padding: 125px 2% 4%;
					background: rgba(0,255,0,0.8);
					img{
						display: block;
						margin: 0 auto;
						height: 10vh;
					}
					&:hover{
						background: rgba(0,255,0,0.9);
					}
					&:nth-child(2) img[role=presentation]{
						bottom: -8px;
						z-index: 1;
					}
					&:nth-child(3){
						img[role=presentation]{
							right: 0;
						}
					}
				}
			}
			&:nth-child(3){
				a{
					padding: 100px 2% 4%;
					background: rgba(255,255,0,0.8);
					&:hover{
						background: rgba(255,255,0,0.9);
					}
					img{
						height: 10vh;
						margin: 0 auto;
						display: block;
					}
					&:nth-child(2){
						img[role=presentation]{
							bottom: -5px;
							left: -400px;
							width: 100%;
							height: 100%;
						}
					}
					&:nth-child(3){
						img[role=presentation]{
							right: -400px;
							bottom: -7px;
							width: 100%;
							height: 100%;
						}
					}
				}
			}
			a{
				display: block;
				width: 46%;
				padding: 2%;
				background: rgba(0,145,211,0.8);
				&:hover{
					background: rgba(0,145,211,0.9);
				}
			}
		}
		&>a{
			display: block;
			text-decoration: none;
			color: $font-color;
			background: rgba(0,145,211,0.8);
			&:first-child{
				background: rgba(0,145,211,0.8);
			}
			&:nth-child(2){
				background: rgba(0,255,0,0.8);
			}
			&:nth-child(3){
				background: rgba(255,255,0,0.8);
			}
			&:nth-child(4){
				background: rgba(255,165,0,0.8);
			}
			&:nth-child(5){
				background: rgba(148,0,255,0.8);
			}
			&:nth-child(6){
				background: rgba(255,0,0,0.8);
			}

			&:hover{
				background: rgba(0,145,211,0.9);
				&:first-child{
					background: rgba(0,145,211,0.9);
				}
				&:nth-child(2){
					background: rgba(0,255,0,0.9);
				}
				&:nth-child(3){
					background: rgba(255,255,0,0.9);
				}
				&:nth-child(4){
					background: rgba(255,165,0,0.9);
				}
				&:nth-child(5){
					background: rgba(148,0,255,0.9);
				}
				&:nth-child(6){
					background: rgba(255,0,0,0.9);
				}
			}
			section{
				width: 96%;
				padding: 2%;
				//	background: white;
				//	text-decoration: none;
				//	color: $font-color;
				//	svg,img{
				//		display: block;
				//		max-width: 100%;
				//		max-height: 5vh;
				//		margin: 0 auto;
				//	}
				//	h4{
				//		text-align: center;
				//	}
				//	h5{
				//		text-align: center;
				//	}
				//	&:hover{
				//		background: opacify(white, 0.2);
				//	}
				//}

				//ul{
				//	list-style: none;
				//	padding-top: $small-padding;
				//	li a{
				//		display: flex;
				//		padding: $small-padding;
				//		img{
				//			max-height: 100%;
				//			height: 10vh;
				//			margin: 0;
				//		}
				//		time{
				//			margin: auto 0;
				//		}
				//		div{
				//			display: block;
				//			min-width: 2.75em;
				//			text-align: center;
				//			font-weight: bold;
				//			color: #fff;
				//			border-radius: 4px;
				//			border: 3px solid #000;
				//			font-size: 0.75rem;
				//			line-height: 1.6em;
				//		}
				//		p{
				//			margin: auto $small-padding;
				//		}
				//		span{
				//			font-weight: bold;
				//			color: $font-color-white;
				//			background: $primary-blue;
				//			padding: 5px 10px;
				//			border-radius: 3px;
				//		}
				//		&:hover{
				//			background: url("/img/hover_gray.png") repeat;
				//			background-size: cover;
				//			border: 1px solid $border-color;
				//			padding: calc(1rem - 1px);
				//
				//		}
				//	}
				//}

				figure{
					background: white;
					font-size: 2em;
					width: 400px;
					margin: 0 auto;
					position: relative;
					padding: 25px 25px 75px;
					z-index: 1;
					figcaption{

					}
					img{
						position: absolute;
						bottom: -45px;
						border-radius: 50%;
						margin: 0 30%;
						width: 25%;
						display: block;
					}
				}
			}
		}
	}
	&.testimonials{
		ul{
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			li{
				width: (100%/$desktop-list)-4%;
				padding: 2%;
				a{
					text-decoration: none;
					color: $font-color;
					display: block;
					width: 100%;
					border: 1px solid white;
					background: $bg-color;
					img, iframe{
						width: 100%;
					}
					iframe{
						pointer-events: none;
					}
					h5{
						padding: $general-padding;
					}
					&:hover{
						background: url("/img/hover_gray.png") repeat;
						background-size: contain;
						border: 1px solid $border-color;
					}
				}
			}
		}
	}
	&.testimonial{

	}
	&.zoeken{
		ul{
			list-style: none;
			li{
				margin: $general-padding;
				a{
					background: $bg-color;
					display: flex;
					height: 15vh;
					width: 100%;
					text-decoration: none;
					color: $font-color;
					border: 1px solid white;
					&:hover{
						background: url("/img/hover_gray.png") repeat;
						background-size: contain;
						border: 1px solid $border-color;
					}
					img{
						height: 100%;
					}
					p{
						margin: auto 0;
						padding: 0 $general-padding;
					}
					svg{
						width: 4%;
					}
				}
			}
		}
	}
}


@media all and (max-width: 750px) {
	main{
		&.nieuws article{
			width: (100%/$tablet-list)-4%;
		}
		&.scholen figure{
			width: (100%/$tablet-list)-4%;
		}
		&.gids ul li{
			width: (100%/$tablet-list)-4%;
		}
		&.algemeen  section{
			width: (100%/$tablet-list)-4%;
		}
		&.testimonials ul li{
			width: (100%/$tablet-list)-4%;
		}
	}
}
@media all and (max-width: 700px) {
	header{
		display: flex;
		justify-content: center;
		&>img{
			height: 100%;
			width: initial;
		}
	}
}

@media all and (max-width: 550px) {
	main{
		&.nieuws article{
			width: (100%/$mobile-list)-4%;
		}
		&.scholen figure{
			width: (100%/$mobile-list)-4%;
		}
		&.gids ul li{
			width: (100%/$mobile-list)-4%;
		}
		&.algemeen  section{
			width: (100%/$mobile-list)-4%;
		}
		&.testimonials ul li{
			width: (100%/$mobile-list)-4%;
		}
	}
}
